@inherits LayoutComponentBase
<div class="page">
    

    <main>
        <div class="sticky-top" >
            <NavMenu />
        </div>
        <article >
            @Body
        </article>
    </main>
</div>
