@page "/about"

<div class="container p-4">
    <div class="row p-4">
        <div class="col-12">
            <h2 class="text-center">About Me</h2>
            <p>Passionate about problem solving and creating new things with technology, my venture into Tech has been something I long dreamed about.</p>

            <p>After over 15 years in the field as an award winning and saught after HVAC Service Technician in my area, I decided to begin experimenting and challenging myself more in various areas of technology. From Data-Science to Network Security to Web Development, I found something interesting in everything I tried.</p>

            <p>After about a year of experimenting I found myself drawn most to Game and Mobile Development, from C# scripting in Unity Game Engine, to .NET MAUI framework, to creating compelulng user interfaces in React and React Native.</p>

            <p>I am currently looking for a position in the field of Web and Mobile Development, and am open to any opportunities that may come my way, from internships and freelance work, full time positions.</p>

            <p>Please feel free to contact me with any questions or inquiries you may have, and don't forget to download my Resume.</p>
        </div>
    </div>
</div>




