@page "/contact"

@* Add links to all icons
    Maybe add twitter and instagram and threads? *@
<div class="container p-4">
    <div class="row p-4">
        <div class="col-12 text-center ">
            <h1 class="">Let's Connect!</h1>
            <p class="">Click below to reach out by Phone, Email
                        or Text (best) any time!
                        Or download my resume which has all my contact information.
                        And feel free to check out my Github!</p>
        </div>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-2 p-0">
            <img class="img-fluid" src="/Assets/Icons/telephone-call.png" alt="Phone icon">
        </div>
        <div class="col-2">
            <img class="img-fluid" src="/Assets/Icons/gmail.png" alt="Email icon">
        </div>
        <div class="col-2">
            <img class="img-fluid" src="/Assets/Icons/linkedin.png" alt="LinkedIn icon">
        </div>
        <div class="col-2">
            <img class="img-fluid" src="/Assets/Icons/github-light.png" alt="GitHub icon">
        </div>
        <div class="col-2">
            <img class="img-fluid" src="/Assets/Icons/resume.png" alt="resume icon">
        </div>
    </div>
</div>