@page "/contact"

@*TODO
    Maybe add twitter and instagram and threads? 
*@
<div class="container text-center ">
    <div class="row ">
        <div class="col-12">
            <h1>Let's Connect!</h1>
            <p >Click below to reach out by Phone, Email or Text(best) any time! Or download my resume which has all my contact information. And feel free to check out my Github!</p>
        </div>
    </div>
    <div class="row justify-content-evenly">
        <div class="col-2">
            <a href="sms:17277980200?body=Hello%20there!">
                <img class="img-fluid" src="/Assets/Icons/telephone-call.png" alt="Phone icon">
            </a>
        </div>
        <div class="col-2">
            <a href="mailto:coding812@gmail.com">
            <img class="img-fluid" src="/Assets/Icons/gmail.png" alt="Email icon">
            </a>
        </div>
        <div class="col-2">
            <a href="https://www.linkedin.com/in/stevemiller812/">
            <img class="img-fluid" src="/Assets/Icons/linkedin.png" alt="LinkedIn icon">
            </a>
        </div>
        <div class="col-2">
            <a href="https://github.com/coding812">
            <img class="img-fluid" src="/Assets/Icons/github-light.png" alt="GitHub icon">
            </a>
        </div>
        <div class="col-2">
            <a href="/Assets/Documents/june_resume.pdf">
            <img class="img-fluid" src="/Assets/Icons/resume.png" alt="resume icon">
            </a>
        </div>
    </div>
</div>