@page "/contact"

@* Add links to all icons
    Maybe add twitter and instagram and threads? *@

<h1>Contact</h1>
<div class="icon-row">
    <img class="icon" src="/Assets/Icons/telephone-call.png" alt="Phone icon">
    <img class="icon" src="/Assets/Icons/gmail.png" alt="Email icon">
    <img class="icon" src="/Assets/Icons/linkedin.png" alt="LinkedIn icon">
    <img class="icon" src="/Assets/Icons/github-light.png" alt="GitHub icon">
    <img class="icon" src="/Assets/Icons/resume.png" alt="Twitter icon">
</div>