p{
    text-indent: 4vw;
    width: clamp(58px, 100%, 1300px);
    text-wrap: wrap;
    font:'Roboto', sans-serif;
    font-size: clamp(1.2rem, 2.5vw, 2rem);
    line-height: clamp(4vw, 5vw, 8vw);
}

.profile-div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-Right: 20vw;
    margin-Left: 8vw;
}
.profile{
    width: clamp(15vw, 30vw, 30vw);
    border-radius: 50%;
    box-shadow: 0 12px 8px 0 rgba(0, 0, 0, 0.1);
}

.preferred-tech{
    height: fit-content;
    padding: .5vw;
    font-size: clamp(1.2rem, 1.4vw, 1.8vw);
    margin-right: 2.8vw;
    margin-bottom: 2.4vw;
    backdrop-filter: blur(1px) saturate(118%);
    -webkit-backdrop-filter: blur(7px) saturate(100%);
    border-radius: 18px;
    border: .5px solid rgb(0, 0, 0);
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    
}

@media (max-width: 768px){
    .profile-div{
        display: none;
    }
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}