@page "/"


<div class="container mt-5">
    <div class="d-flex justify-content-end">
        <div class="col-4 text-center font-monospace mb-4">
            <h1 >Steve Miller</h1>
            <h2>Web and Mobile Developer</h2>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <div class="col-4 profile-div">
                <img src="Assets\Images\Me.jpg" alt="Steve Miller" class="profile" />
            </div>
            <div class="col-8">
                <p>Passionate about problem solving and creating new things with technology, my venture into Tech has been something I long dreamed about.</p>
                <p>After over 15 years in the field as an award winning and saught after HVAC Service Technician in my area, I decided to begin experimenting and challenging myself more in various areas of technology. From Data-Science to Network Security to Web Development, I found something interesting in everything I tried.</p>
            </div>
            
        </div>
        <div class="row m-2 flex-wrap">
            <div class="preferred-tech col-auto">
                <h3>Technologies I've enjoyed working with:</h3>
                <ul>
                    <li>C#</li>
                    <li>Azure</li>
                    <li>.NET MAUI</li>
                    <li>SQL</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>React Native</li>
                    <li>Bootstrap</li>
                    <li>MongoDB</li>
                    <li>Node.js</li>
                    <li>Express</li>
                    <li>Unity</li>
                    <li>Blender</li>
                    <li>DaVinci Resolve Studio</li>
                    <li>Reaper DAW</li>
                </ul>

            </div>
            <div class="col">
                <p>After about a year of experimenting I found myself drawn most to Game and Mobile Development, from C# scripting in Unity Game Engine, to .NET MAUI framework, to creating compelling user interfaces in React and React Native.</p>
            </div>
                <p>My continuing goal is to learn and grow in these areas, and to create applications that are not only functional, but also visually appealing and user friendly.</p>
                <p>I am currently available for opportunities in the field of Web and Mobile Development, from internships and freelance work, to full time positions.</p>
        </div>
    </div>
</div>