@page "/portfolio"

<main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Portfolio</h1>
          <p class="lead text-muted">My past projects both professional and personal. Feel free to check them out, and check back often as I will be updating this page as more projects become available</p>
          
        </div>
      </section>

      <div class="album py-5 ">
        <div class="container">
          <div class="row justify-content-evenly">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Coming Soon" alt="Thumbnail [100%x225]" src="Assets\Images\ApplicationTracker.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Job Application Tracker - A Simple cross-platform app built with MAUI-Blazor Hybrid for job seekers to keep track of their submitted applications.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://github.com/coding812/ApplicationTracker" target="_blank"><button type="button" class="btn btn-sm btn-primary">Check it out</button></a>
                    </div>
                    @* <small class="text-muted">React Node Express MongoDB Tailwind.CSS</small> *@
                      <div>
                        <a href="https://dotnet.microsoft.com/en-us/languages/csharp" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" alt="csharp" width="40" height="40"/>
                      </a>
                      <a href="https://dotnet.microsoft.com/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/dot-net/dot-net-original-wordmark.svg" alt="dotnet" width="40" height="40"/>
                      </a>
                      <a href="https://www.sqlite.org/index.html" target="_blank" rel="noreferrer">
                        <img src="https://www.vectorlogo.zone/logos/sqlite/sqlite-icon.svg" alt="sqlite" width="40" height="40"/>
                      </a>
                      @* Bootstrap logo and link *@
                      <a href="https://getbootstrap.com/" target="_blank" rel="noreferrer">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg" alt="bootstrap" width="40" height="40"/>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Coming Soon" alt="Thumbnail [100%x225]" src="Assets\Images\Spiffy.jpeg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">Spiffy - A free to use commission and flatrate tracker for small to medium sized companies instead of costly sales tracking software or paper commission sheets.</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://spiffy.azurewebsites.net/" target="_blank"><button type="button" class="btn btn-sm btn-primary">Check it out</button></a>
                    </div>
                    @* <small class="text-muted">React Node Express MongoDB Tailwind.CSS</small> *@
                      <div>
                        <a href="https://reactjs.org/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/react/react-original-wordmark.svg" alt="react" width="40" height="40"/>
                      </a>
                      <a href="https://tailwindcss.com/" target="_blank" rel="noreferrer">
                        <img src="https://www.vectorlogo.zone/logos/tailwindcss/tailwindcss-icon.svg" alt="tailwind" width="40" height="40"/>
                      </a>
                      <a href="https://www.mongodb.com/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/mongodb/mongodb-original-wordmark.svg" alt="mongodb" width="40" height="40"/>
                      </a>
                      <a href="https://nodejs.org" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/nodejs/nodejs-original-wordmark.svg" alt="nodejs" width="40" height="40"/>
                      </a>
                      <a href="https://expressjs.com" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/express/express-original-wordmark.svg" alt="express" width="40" height="40"/>
                      </a>
                      <a href="https://azure.microsoft.com/en-in/" target="_blank" rel="noreferrer">
                        <img src="https://www.vectorlogo.zone/logos/microsoft_azure/microsoft_azure-icon.svg" alt="azure" width="30" height="40"/>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="https://opengraph.githubassets.com/295dfc0e787502102c17728393a1e850f2380e7e8ebb575dab38ba404d397729/coding812/CSharpPlayersGuide" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
                <div class="card-body">
                  <p class="card-text">My solutions for the challenges set forth in The C# Player's Guide, 5th Edition. This is a work in progress so check back often as I complete more challenges!</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <a href="https://github.com/coding812/CSharpPlayersGuide" target="_blank"><button type="button" class="btn btn-sm btn-primary">Check it out</button></a>
                    </div>
                    @* <small class="text-muted">C# .NET CLI</small> *@ 
                    <div >
                      <a href="https://csharpplayersguide.com/" target="_blank" rel="noreferrer">
                        <img src="https://csharpplayersguide.com/assets/images/WebsiteGraphic.png" alt="dotnet" width="40" height="40"/>
                      </a>
                      <a href="https://dotnet.microsoft.com/en-us/languages/csharp" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/csharp/csharp-original.svg" alt="csharp" width="40" height="40"/>
                      </a>
                      <a href="https://dotnet.microsoft.com/" target="_blank" rel="noreferrer">
                        <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/dot-net/dot-net-original-wordmark.svg" alt="dotnet" width="40" height="40"/>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </main>